@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    1. General notes on use of our website

    Thank you for your interest in our website. Protection of your privacy is very important to us.

    Below, we will inform you in detail about how your data are handled on this website through the responsible provider, 
    STAEDTLER (U.K.) LTD. (hereinafter also: "STAEDTLER", "we" or "us").
</p>
<p>
    1.1 Storage of access data

    Every time you access our website, access data regarding this process will be stored in a protocol file on the server of our provider.

    This data record comprises your IP address, date and time of the query, name of the requested file, 
    file name from which the file was requested, the transferred data volume and access status, 
    a description of the web browser and operating system used and the name of your Internet Service Provider. 
    These data are collected for technical reasons in order to ensure smooth connection and comfortable use of the website,
    as well as evaluation of system safety and system stability. The legal basis for processing activities shall be sect. 
    6 para. 1 s. 1 lit. f GDPR. Our legitimate interests follow from the purposes listed above for data collection. 
    In no case shall we use any collected personal data for the purpose of drawing conclusions about your person.

    Evaluation will only take place for statistical purposes and without any personal reference. 
    We shall only collect, use and pass on any further personal data if this is permitted by law or if you consent to data collection.
</p>
<p>
    1.2 Contact

    If you contact us, e.g. by contact form or email, the information you provide shall be saved for processing of your query 
    and for the case that any subsequent questions arise. The legal basis for processing activities shall also be 
    sect. 6 para. 1 s. 1 lit. f GDPR. Our legitimate interest is in achieving the best user satisfaction and to 
    make our services more attractive that way.
</p>
<p>
    1.3 Lotteries

    If the participant has not granted any further consent, the personal data collected by us in the scope of lotteries 
    shall only be collected, processed and used to design, perform and/or process the lottery and shall be deleted after
    the lottery has been processed. They will not be passed on to any third parties. For more information, see the 
    respective participation conditions for our lotteries. Data processing is required for meeting the contractual 
    purpose. The legal basis shall be sect. 6 para. 1 s. 1 lit. b GDPR.
</p>
<p>
    1.4 Newsletter

    If you sign up for our newsletter, we will use your email address to send you the newsletter.
    You may unsubscribe from it at any time by clicking on the link on the bottom of the email or 
    by contacting dataprotection@staedtler.com. Your email address shall not be used in any other 
    manner. Data processing shall take place solely based on the consent granted by you. The legal
    basis shall be sect. 6 para. 1 s. 1 lit. a GDPR.

    If you open the newsletter or click a link in it, this will be logged by our web server 
    (date, time, email address). This serves statistical purposes. These data will not be 
    combined into personal usage profiles. The legal basis for processing activities for 
    statistical evaluation shall be sect. 6 para. 1 s. 1 lit. f GDPR. Our legitimate interest
    is in improving and optimising our services.

    The references to commercial use shall not be affected by this.
</p>
<p>
    1.5 Integration of services and third-party contents

    In some cases, this website may integrate contents of third parties, e.g. map material of Google Maps,
    RSS feeds or graphics from other websites. This always requires that the providers of these contents 
    (hereinafter: "Providers") use your IP address. Without your IP address, they would be unable to send
    the contents to your browser. The IP address is therefore required to present these contents. 
    We strive to only use such contents the providers of which only use the IP address for providing the contents.
    However, we cannot influence it if the providers store the IP address, e.g. for statistical purposes.

    For more information on the corresponding services and social plugins, see the further statements in this data protection statement.
</p>
<p>
    1.6 Cookies

    We use "cookies" in order to make use of our website easier.

    Cookies are small text files that your browser may store on the hard disc of your computer and that help you use our website.

    We use cookies in order to better understand how our website is used and in order to improve navigation. 
    For example, cookies help us determine whether a page of our website has been visited before.

    Cookies also enable us to see if you have visited our website before or whether you are a new visitor. 
    These cookies do not store your personal data. You can set your internet browser so that storage of
    cookies on your hard disc is prevented or so that you will be asked every time if you agree to cookies being placed.

    Cookies once placed can be deleted again at any time as well. How this works in detail can be taken from
    the operating instructions of your browser.

    You may use our website without using cookies as well, but there may be restrictions.

    If nothing different is stated below, the personal data processed by cookies are required for the purpose of maintaining
    our legitimate interests and those of third parties according to sect. 6 para. 1 S. 1 lit. f GDPR.

    For more information on other services that may also use cookies, see the further statements in this data protection statement.

    By clicking on "Change Website Settings" you can change your settings at any time.
</p>
